<!DOCTYPE html>
<html>
  <head>
    <title>Streamplay</title>
    <%= csrf_meta_tags %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nobile|Poppins:400,700|Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <meta name="google-signin-client_id" content="481538411291-cfgrieebjsehleej57mb1rg2hn2vh2dk.apps.googleusercontent.com">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    <script type="text/javascript">
      <% if logged_in? %>
        window.currentUser =
          <%= render("/api/users/user.json.jbuilder", user: current_user).html_safe %>
      <% end %>
    </script>
  </head>

  <body>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
